@import url('https://fonts.googleapis.com/css2?family=PT+Mono&family=Poppins:ital,wght@1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$primary-color: #FFDE17;
$dark-color: #111;

.preloader{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: #000c;
    transition: all 0.3s ease;
    backdrop-filter: blur(4px);
    opacity: 0;
    pointer-events: none;
    visibility: hidden;

    &.show{
        opacity: 1;
        pointer-events: all;
        visibility: visible;
    }

    &.black{
        background-color: #000e;
    }
    
    .preloader-circle{
        width: 55px;
        height: 55px;
        border: 8px solid rgba($primary-color, 0.15);
        border-bottom-color: $primary-color;
        border-radius: 50%;
        animation: preloader-circle 1s linear forwards infinite, preloader-circle-ii 1s ease forwards infinite alternate;

        @media screen and (min-width: 1200px) {
            width: 60px;
            height: 60px;
            border-width: 8px;
        }

        @media screen and (max-width: 660px) {
            width: 50px !important;
            // background: rgba(212, 0, 255, 0.422);
            height: 50px !important;
            border-width: 7.5px;
        }

        @media screen and (max-width: 400px) {
            width: 48px !important;
            height: 48px !important;
            border-width: 7px;
        }
    }

    @keyframes preloader-circle{
        0%{
            transform: rotate(360deg);
        }
        100%{

        }
    }

    @keyframes preloader-circle-ii{
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }
}

.home{
    z-index: 10;
    // pointer-events: none;

    &.show-intro{
        pointer-events: all;
    }
}

.showing-get-started{
    .home-pg{
        opacity: 0 !important;
    }
}


.home{
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: $dark-color;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    overflow-y: scroll;
    opacity: 0;
    transform: scale(1.2);
    visibility: hidden;
    pointer-events: none;
    transition: all 0.5s ease;
    
    &.show-intro{
        overflow: hidden;
        .intro{
            opacity: 1;
            pointer-events: all;
            visibility: visible;
            .holder{
                .chat-box{
                    transform: translateX(0);
                    opacity: 1;
                    pointer-events: all;
                    
                    .chat-guy{
                        transform: translateX(0);
                        opacity: 1;
                        pointer-events: all;
                    }
                }
            }
        }
    }
    
    &.show{
        transform: scale(1);
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }

    
    
    .intro{
        transition: all 0.5s ease;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(4px);
        top: 0;
        left: 0;
        z-index: 30;
        overflow: hidden;
        background-color: #000c;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        opacity: 0;
        visibility: hidden;
        
        .holder{
            // max-width: 500px;
            width: 100%;
            padding: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            @media screen and (max-width: 660px) {
                padding: 0 5vw;
            }

            .chat-box{
                padding: 20px;
                border-radius: 30px;
                background-color: #fff;
                color: #222;
                position: relative;
                padding-bottom: 70px;
                margin-bottom: 100px;
                width: 100%;
                max-width: 500px;
                min-height: 200px;
                box-shadow: 7px 7px 0px #000;
                transition: all 0.5s ease;
                font-size: 20px;
                transform: translateX(-500px);
                
                
                @media screen and (max-width: 660px) {
                    padding: 20px 15px;
                    padding-bottom: 80px;       
                }

                .skip{
                    position: absolute;
                    top: -15px;
                    right: -15px;
                    background-color: #000c;
                    backdrop-filter: blur(10px);
                    border: 2px solid;
                    color: #FFDE17;
                    width: 40px;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 100px;
                    z-index: 2;
                    transition: all 0.3s ease;
                    cursor: pointer;

                    &:hover{
                        scale: 1.3;
                    }

                    &.disabled{
                        transform: translateX(20px) translateY(-20px);
                        opacity: 0;
                        pointer-events: none;
                        visibility: hidden;
                    }
                }
                

                button{
                    position: absolute;
                    bottom: -24px;
                    cursor: pointer;
                    background-color: #222;
                    color: #FFDE17;
                    border: none;
                    padding: 15px 20px;
                    z-index: 19;
                    font-size: 20px;
                    font-family: "Poppins";
                    font-family: monospace;
                    font-weight: 500;
                    border-radius: 100px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 8px;
                    overflow: hidden;
                    
                    
                    @media screen and (max-width: 450px) {
                        bottom: 15px;   
                    }
                    
                    &::before{
                        content: "";
                        position: absolute;
                        width: 30px;
                        height: 170%;
                        left: -50px;
                        filter: blur(10px);
                        transform: rotate(30deg);
                        background-color: #fff1;
                        transition: all 0.5s ease;
                    }

                    svg{
                        transition: all 0.5s ease;
                    }

                    &:hover{
                        &::before{
                            left: calc(100% + 30px);
                        }

                        svg{
                            transform: rotate(360deg);
                        }
                    }
                }
                
                &::before{
                    content: "";
                    position: absolute;
                    z-index: 2;
                    background-color: #fff;
                    width: 30px;
                    height: 100px;
                    bottom: -50px;
                    right: 100px;
                    border-radius: 0% 0% 0% 100% / 0% 0% 0% 100% ;
                    transform: rotate(-40deg);
                }
                
                &::after{
                    content: "";
                    border-radius: 0% 0% 0% 100% / 0% 0% 0% 100% ;
                    position: absolute;
                    z-index: 3;
                    background-color: #000;
                    width: 10px;
                    height: 70px;
                    bottom: -57px;
                    right: 95px;
                    // border-radius: 0% 0% 0% 100% / 0% 0% 0% 100% ;
                    transform: rotate(-64deg);
                    pointer-events: none;
                }

                
                @media screen and (max-width: 660px) {
                    &::before{
                        right: 140px;
                    }       
                    &::after{
                        right: 133px;
                        bottom: -59px;
                        // border: 2px solid red;
                    }       
                }
            }

            .chat-guy{
                position: absolute;
                right: -60px;
                bottom: -130px;
                z-index: 4;
                width: 110px;
                height: 110px;
                border-radius: 50%;
                background-color: #FFDE17;
                // background-image: linear-gradient(150deg,#ffde17, rgb(0, 0, 77));
                display: flex;
                justify-content: center;
                align-items: center;
                transition: all 0.5s ease;
                overflow: hidden;
                transform: translateX(1000px);
                
                img{
                    width: 90%;
                    transform: translateY(5px);
                    color: transparent;
                }
                
                @media screen and (max-width: 660px) {
                    right: 0;
                    bottom: -140px;  
                }
            }
        }
    }

    padding-top: 50px;                 

    .backtoHome{
        position: fixed;
        color: #fff;
        width: 40px;
        height: 40px;
        top: 10px;
        left: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.5s ease;
        border-radius: 50%;
        cursor: pointer;

        svg{
            transition: all 0.5s ease;
        }

        &:hover{
            background-color: #fff1;

            svg{
                transform: rotate(360deg);
            }
        }
    }
    overflow: hidden;

    .content{
        font-family: "Raleway", serif;
        background-color: #ffffff0f;
        border-radius: 30px;
        padding: 20px;
        transition: all 0.5s ease;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        
        @media screen and (max-width: 660px) {
            justify-content: flex-start;
        }
        .illustration-guy{
            position: absolute;
            top: -140px;
            pointer-events: none;
            img{
                pointer-events: all;
                width: 200px;
            }
        }

        &:hover{
            background-color: #ffffff1c;
        }

        & > div{
            gap: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            &:first-child{
                color: $primary-color;
            }
            
            &:nth-child(2){
                h1{
                    color:#fff;
                }

                h2{
                    color:rgb(155, 155, 248);
                }

                button{
                    cursor: pointer;
                    background-color: $dark-color;
                    border: none;
                    color: $primary-color;
                    font-family: monospace;
                    border: 2px solid transparent;
                    transition: all 0.5s ease;
                    border-radius: 10px;

                    svg{
                        transition: all 0.5s ease;
                    }
                }

                .mr-menu-list{
                    overflow: hidden;
                    display: flex;
                    flex-direction: column;
                    margin-top: 10px;
                    border-radius: 10px;
                    background-color: rgba(#151515, 0.4);
                    backdrop-filter: blur(10px);
                    transition: all 0.5s ease;
                    opacity: 0;
                    visibility: hidden;
                    pointer-events: none;
                    transform: translateY(100%);
                    
                    .EGDgF{
                        transition: all 0.5s ease;
                        span{
                            color: #fff;
                        }

                        &:hover{
                            background-color: #ffffff0c;
                        }
                    }

                    &:hover{
                        background-color: #151515;
                    }
                }
                
                &>div{
                    font-family: "PT Mono";
                    margin-top: 20px;
                    padding-bottom: 20px;
                    &:hover{
                        .mr-menu-list{
                            opacity: 1;
                            visibility: visible;
                            pointer-events: all;
                            transform: translateY(0);
                        }
                    }

                    &:hover{
                        button{
                            svg{
                                transform: rotate(180deg);
                            }
                        }
                    }
                }
            }
        }
    }
}

body{
    background-color: $dark-color;
}

.home-pg{
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.5s ease;
    z-index: 1;
    background-color: $dark-color;
    width: 100%;
    height: 100%;
    color: #fff;
    overflow-y: scroll;
    overflow-x: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.4;
    pointer-events: none;
    overflow: hidden;

    &.show{
        opacity: 1;
        pointer-events: all;
    }

    .mint-nft{
        position: fixed;
        bottom: 10px;
        width: 90%;
        max-width: 300px;
        padding: 15px 20px;
        font-family: "PT Mono";
        border: none;
        border-radius: 10px;
        font-size: 20px;
        color: #FFDE17;
        background-color: #151515cc;
        color: #000;
        background-color: #ffdc17;
        backdrop-filter: blur(10px);
        transition: all 0.5s ease;
        cursor: pointer;
        z-index: 10;
        display: flex;
        justify-content: center;
        gap: 10px;
        align-items: center;
        overflow: hidden;
        border-top: 2px solid transparent;

        @media screen and (max-width: 450px) {
            width: 100%;
            max-width: 100%;
            bottom: 0;
            left: 0;
            border-radius: 0px;
            box-shadow: 0px 0px 10px #0003;
        }

        &::before{
            content: "";
            position: absolute;
            width: 30px;
            height: 170%;
            left: -50px;
            filter: blur(20px);
            transform: rotate(30deg);
            background-color: #fff1;
            transition: all 0.5s ease;
        }

        svg{
            color: #000;
            transition: all 0.5s ease;
        }

        &:hover{
            background-color: #000;
            color: #FFDE17;
            // border-color: #FFDE17;
            &::before{
                left: calc(100% + 30px);
            }

            svg{
                color: #FFDE17;
            }
        }
    }

    .content-all{
        height: 100%;
        width: 100%;
        max-width: 1100px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 20px 50px;
        overflow-y: scroll;
        padding-bottom: 100px;
        .logo{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;

            img{
                width: 150px;
            }
        }

        .nav{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 0 15px;
            border-radius: 150px;
            background-color: #fff2;
            gap: 10px;
            transition: all 0.5s ease;
            width: 100%;
            overflow-x: scroll;
            min-height: 65px;
            
            &::-webkit-scrollbar{
                width: 0px;
                height: 0px;
            }

            &:hover{
                background-color: #fff3;
            }

            button{
                border: none;
                border-radius: 100px;
                background-color: #222;
                color: #fff;
                border: 2px solid transparent;
                transition: all 0.5s ease;
                outline: none;
                cursor: pointer;
                font-family: "Raleway","PT Mono";
                font-weight: 600;
                font-size: 16px;
                padding: 0px 15px;
                height: 40px;
                min-width: fit-content;
                
                &:first-child, &:hover, &:focus{
                    color: #000;
                    &:hover, &:focus{
                        color: #ffde17;
                    }
                    
                    
                    &:first-child{
                        color: #000;
                        background-color: #ffde17;
                    }

                }
            }
        }

        .holder{
            display: flex;
            width: 100%;
            margin-top: 40px;
            gap: 20px;
            margin-bottom: 20px;

            @media screen and (max-width: 600px) {
                flex-direction: column;
            }
            
            .verified-projects{
                width: 50%;
                background-color: #fff3;
                border-radius: 20px;
                @media screen and (max-width: 600px) {
                    width: 100%;
                }
            }
            
            .carousel{
                padding: 20px;
                height: 400px;
                width: 100%;
            }
            
            .mint-tracker{
                width: 50%;
                display: flex;
                flex-direction: column;
                gap: 20px;
                @media screen and (max-width: 600px) {
                    width: 100%;
                }
                
                .details{
                    height: 100%;
                    border-radius: 20px;
                    padding: 20px;
                    background-color: #fff3;
                }

                .visuals{
                    height: 100%;
                    width: 100%;
                    border-radius: 20px;
                    padding: 20px;
                    background-color: #fff3;
                }
            }
        }

        .links-holder{
            margin-top: 20px;
            font-family: monospace;
            border: 2px dotted #fff;
            padding: 10px;
            border-radius: 10px;
        }
    }
}

.swiper{
    width: 100%;
    height: 100%;
}

.mySwiper{
    .autoplay-progress{
        display: none;
        position: absolute !important;
        bottom: 0 !important;
    }
}

.preview-shirt{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    background-color: #000e;
    z-index: 31;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 70px 15px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    &.show{
        opacity: 1;
        visibility: visible;
        pointer-events: all;

        .cancel, .content{
            transform: translateY(0);
            visibility: visible;
            pointer-events: all;
        }
    }

    .cancel{
        position: fixed;
        top: 15px;
        left: 15px;
        background-color: rgb(138, 43, 43);
        width: 110px;
        font-family: "Raleway", monospace;
        font-weight: 500;
        height: 40px;
        border-radius: 100px;
        transition: all 0.5s ease;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        gap: 10px;
        color: #fff;
        transform: translateY(-100%);
        visibility: hidden;
        pointer-events: none;
        z-index: 10;
        
        svg{
            color: #fff;
            transition: all 0.5s ease;
        }

        &:hover{
            svg{
                transform: rotate(360deg);
            }
        }
    }
    
    .content{
        width: 100%;
        height: 100%;
        max-width: 700px;
        max-height: 600px;
        background-color: #4c4c4a60;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: all 0.5s ease;
        overflow: hidden;
        background-color: #4c4c4ab0;
        transform: translateY(100%);
        visibility: hidden;
        pointer-events: none;

        // &:hover{
        // }

        .shirts-holder{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;

            @media screen and (max-width: 550px) {
                justify-content: flex-start;
                padding: 0 20px;
                overflow-x: scroll;
                margin-bottom: 30px;

                &::-webkit-scrollbar{
                    height: 6px;
                }

                .shirt{
                    min-width: 250px;
                }
            }
        }

        .shirt{
            width: 300px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-bottom: 40px;
            transition: all 0.1s ease, scale 0.5s ease;

            &:hover{
                scale: 1.03;
            }

            &.anim{
                opacity: 0;
                transform: translateY(-100px);
            }

            img.shirt-img{
                width: 100%;
                height: 350px;
            }
            
            .nft-img{
                position: absolute;
                width: 100px;
                max-height: 300px;
                top: 80px;
                z-index: 3;
                filter: drop-shadow(0px 0px 10px #0004);
            }

            &:last-child{
                .nft-img{
                    top: 60px;
                    width: 70px;
                }
            }

            @media screen and (max-width: 660px) {
                width: 250px;
                height: 300px;

                .nft-img{
                    width: 80px;
                    top: 70px;
                }
            }
        }
        
        .swap-img{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            
            .white, .black{
                width: 35px;
                height: 35px;
                background-color: #fff;
                border-radius: 50%;
                transition: all 0.5s ease;
                cursor: pointer;
                // border: 2px solid transparent;
                
                &:hover{
                    border-color: rgb(21, 21, 63);
                }
                
                &.black{
                    background-color: #111;
                    
                    &:hover{
                        border-color: #ffde17;
                    }
                }
                
                &.active{
                    transform: scale(1.3);
                }

                @media screen and (max-width: 660px) {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
    
}


.wallet-home{
    background-color: $dark-color;
    color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 50px 20px;
    transition: all 0.5s ease;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    z-index: 30;
    animation: show-wallet 1s ease forwards;

    @keyframes show-wallet {
        0%{
            opacity: 0.1;
        }
        100%{
            opacity: 1;
        }
    }

    .backtoHome{
        position: fixed;
        color: #fff;
        width: 40px;
        height: 40px;
        top: 10px;
        left: 10px;
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;
        transition: all 0.5s ease;
        border-radius: 100px;
        cursor: pointer;
        backdrop-filter: blur(10px);
        background-color: #fff1;
        z-index: 10;

        &::before{
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            transform: scale(2);
        }
        
        p{
            position: absolute;
            width: 170px;
            display: flex;
            font-weight: 600;
            justify-content: center;
            align-items: center;
            top: 0;
            left: 50px;
            transition: all 0.5s ease;
            height: 100%;
            border-radius: 100px;
            background-color: #fff2;
            opacity: 0;
            transform: translateX(100%);
            visibility: hidden;
            pointer-events: none;
            backdrop-filter: blur(10px);
            font-family: "PT Mono", monospace;
            font-family: "Raleway", monospace;
        }
        
        svg{
            transition: all 0.5s ease;
        }
        
        &:hover{
            background-color: #fff2;
            
            p{
                opacity: 1;
                transform: translateX(0);
                visibility: visible;
                pointer-events: visible;
            }
        }
    }

    @media screen and (max-width: 660px) {
        padding: 50px 0;
        padding-bottom: 0px;
    }

    h1{
        font-family: "Raleway", monospace;
        margin-bottom: 10px;
        text-align: center;
    }
    
    h2{
        margin-bottom: 20px;
        font-family: "Raleway", monospace;
        text-align: center;
    }

    .soft{
        width: 20px;
        min-height: 20px;
        background-color: #FFDE1722;
        border: 2px solid #FFDE17;
        border-radius: 4px;
        transform: rotate(45deg);
        margin-bottom: 30px;
    }

    .assets-container{
        display: flex;
        padding: 50px;
        margin-bottom: 30px;
        max-width: 1200px;
        background-color: #fff1;
        border-radius: 20px;
        column-gap: 20px !important;
        row-gap: 30px !important;
        
        @media screen and (max-width: 660px) {
            padding: 30px 5vw;
            margin-bottom: 0px;
            border-radius: 20px 20px 0 0;
        }
        
        & > div{
            border-radius: 0px 0px 20px 20px;
            margin: 0 !important;
            min-width: 200px;
            width: 200px;
            overflow: hidden;
            background-color: #ffffff07;
            background-color: #4c4c4a;
            box-shadow: 0px 0px 10px #0003;
            // padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            // align-items: center;
            cursor: pointer;
            // background-color: #FFDE17;
            transition: all 0.5s ease;
            position: relative;
            // border: 2px solid #FFDE1700;
            overflow: hidden;
            color: #000;
            color: #fff;

            &::before{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #FFDE17;
                background-color: #fff;
                background-color: $dark-color;
                transform: translateX(-100%);
                transition: all 0.3s ease;
            }

            &::after{
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                border-radius: inherit;
                pointer-events: none;
                z-index: 3;
                border-top: 2px solid #FFDE1700;
                transition: all 0.5s ease;
                // background-image: linear-gradient(90deg ,#fff0, #fff0, #fff0, #4c4c4a);
            }


            
            &:hover{
                background-color: #fff1;

                &::after{
                    border-top: 4px solid #FFDE17;
                }
                transform: scale(1.02) translateY(-6px);
                color: #fff;

                &::before{
                    transform: translateX(0);
                }
            }
            img{
                max-width: 100% !important;
                object-fit: cover;
                object-position: top;
                margin-bottom: 10px;
                z-index: 1;
            }
            
            h3{
                font-family: "Raleway";
                font-weight: 600;
                text-align: center;
                margin-top: 2px;
                margin-bottom: 12px;
                font-size: 20px;
                z-index: 1;
                padding: 0 10px;
            }
            
            p{
                padding: 0 10px;
                font-family: "Raleway";
                font-size: 16px;
                text-align: center;
                margin-bottom: 10px;
                z-index: 1;
            }

            @media screen and (max-width: 450px) {
                width: 100%;
                max-width: 250px;
                img{
                    min-width: 100%;
                }
            }
        }
        
    }
}

*{
    ::-webkit-scrollbar{
        width: 7px;
    
        @media screen and (max-width: 450px) {
            width: 0px;
        }
    }
    
    ::-webkit-scrollbar-thumb{
        background-color: #ffffff1c;
        border-radius: 100px;
        
        &:hover{
            background-color: #FFDE17;
        }
    }
    
    ::-webkit-scrollbar-button{
        height: 20px;
        pointer-events: none;
    }
}