@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&display=swap');

body{
  margin:0px;
  padding: 0px;
  font-family: 'Poppins';
}
*{
  box-sizing: border-box;
  margin:0px;
  padding: 0px;
}


